body {
    font-family: "Inconsolata", serif;
    font-size: 20px;
}

.hidden {
    display: none;
    opacity: 0;
}

#main-section {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.card {
    overflow: hidden;
    max-height: 80vh;
    border-radius: 15px;
    background-color: #222;
    color: rgba(238, 238, 238, 1);
}

.card-body {
    overflow-y: auto;
    transition: opacity 1s ease;
}

#list-title {
    font-size: 30px;
}

#list-item {
    @extend .card;
}

.form-label {
    color: #222;
}

.task--ready {
    text-decoration: line-through;
}

#show-completed {
    width: 200px;
}

.separator {
    height: 2px;
}
