body {
  font-family: "Inconsolata", serif;
  font-size: 20px;
}

.hidden {
  display: none;
  opacity: 0;
}

#main-section {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.card, #list-item {
  overflow: hidden;
  max-height: 80vh;
  border-radius: 15px;
  background-color: #222;
  color: #eeeeee;
}

.card-body {
  overflow-y: auto;
  transition: opacity 1s ease;
}

#list-title {
  font-size: 30px;
}

.form-label {
  color: #222;
}

.task--ready {
  text-decoration: line-through;
}

#show-completed {
  width: 200px;
}

.separator {
  height: 2px;
}/*# sourceMappingURL=styles.css.map */